<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/CSS/styles.css">
    <link href="/snowFlakes/snow.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/snow.min.css" rel="stylesheet">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/Snow.min.js"></script>
<script>
	new Snow ();
</script>
    <script src="/snowFlakes/Snow.js"></script>
    <script>
	new Snow ();
    </script>
    <div class="content">
       {% block content %}
        {% endblock %}
    </div>
</body>
</html>